/* Fonts */
$EYA-OpenSans:'Open Sans', sans-serif;

/* Colours */
$EYA-light-grey:#F7F7F7;
$EYA-off-white:#EAEAEA;
$EYA-white:#fff;
$EYA-pink:#C5327F;
$EYA-purple:#772367;
$EYA-dark-grey:#4C4C4C;
$EYA-grey-ph: #f0f0f0;
$EYA-green:#94B733;
$EYA-light-green:#A9CF3F;
$EYA-black:#000;
$EYA-light-pink:#E14094;
$EYA-dark-trans: rgba(0, 0, 0, 0.8);

/* Graphics & Backgrounds */
$EYA-colours-stripe:url('../images/top-c-stripe.png');
$EYA-pink-pattern:url('../images/pink-pattern.png');

/* Includes */
$EYA-transition: all 0.2s ease-in-out;

/* Media Query - Desktop */
$EYA-desktop-width:1218px;

/* Media Query - If smaller than 1218px */
$EYA-custom-width:1217px;

/* Media Query - If smaller than 988px */
$EYA-1024px-width:1024px;

/* Media Query - If smaller than 988px */
$EYA-988px-width:988px;

/* Media Query - If smaller than 988px */
$EYA-800px-width:800px;

/* Media Query - Portrait Tablet */
$EYA-768px-width:768px;

/* Media Query - Portrait Tablet */
$EYA-736px-width:736px;

/* Media Query - Iphone 6 - Landscape */
$EYA-667px-width:667px;

/* Media Query - Samsung S4 - Landscape */
$EYA-640px-width:640px;

/* Media Query - If <= than 568px */
$EYA-600px-width:600px;

/* Media Query - If <= than 568px */
$EYA-568px-width:568px;

/* Media Query - If <= than 568px */
$EYA-519px-width:519px;

/* Media Query - Old Iphone - Landscape */
$EYA-480px-width:480px;

/* Media Query - Iphone 6S - Portrait*/
$EYA-414px-width:414px;

/* Media Query - Iphone 6 - Portrait*/
$EYA-375px-width:375px;

/* Media Query - Samsung S4 - Portrait*/
$EYA-360px-width:360px;

/* Media Query - If <= than 568px */
$EYA-320px-width:320px;





