/* EYA - Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,300italic,300,800italic);
@import 'reset';
@import 'variables';
@import 'mixins';

/* EYA - Global */

*{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

body {
  font-size:16px;
  height:100%;
}
html {
  height:100%;
}
a {
  @include transition();
}
section {
  padding:20px;
}
header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-image:$EYA-colours-stripe;
  background-position: top;
  background-repeat:repeat-x;
  /*background-size: 18% 8%;*/
  @include Headertransition();
  @media (max-width:988px){
   height:auto;
  }
  img {
    display: inline-block;
    float: left;
    width:260px;
    padding:16px 0 0 0;
    @include transition();
  }
  nav {
    .nav{
      display: inline-block;
      float: right;
      margin:20px 0 0 0;
      @media (max-width:$EYA-988px-width){
        display: none;
      }
      li{
        display:inline-block;
        a {
          color:$EYA-white;
          font-size:1.175em;
          padding:8px;
          @include transition();
          &:link,
          &:active {
            background:none;
          }
          &:hover {
            background: $EYA-pink;
            color:$EYA-white;
            text-decoration:none;
            @include border-radius()
          }
        }
      }
      @extend .active;
    }
  }
}
.box-shadow-menu {
  display:none;
  @media (max-width: 988px) {
    display:block;
    position: relative;
    float:right;
    margin:25px 20px 0 0;
    padding-left: 1.25em;
    color:$EYA-white;
    &:visited {
      color:$EYA-white;
    }
    &:active,
    &:link,
    &:hover{
      text-decoration:none;
      color:$EYA-pink;
    }
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.35em;
      width: 1em;
      height: 0.17em;
      background:$EYA-white;
      box-shadow: 0 0.3em 0 0 $EYA-white,
      0 0.6em 0 0 $EYA-white;
    }
  }
}
#eya {
  @media (max-width:988px){
    float:right;
    margin:20px 0 0 0;
  }
}
.mobileNav {
  .nav {
    @media (max-width:$EYA-988px-width){
      display:block;
      background-color:$EYA-dark-trans;
      vertical-align: middle;
      text-align: center;
      float:none;
    }
    li{
      display:block;
    }
  }
}
.smaller {
  height: 60px;
  padding:0 0 10px 0;
  background-color:$EYA-dark-trans;
  @media (max-width:$EYA-988px-width){
    height:auto;
  }
  img {
    width: 160px;
  }
  nav {
    .nav {
      margin:14px 0 0 0;
      a {
        font-size:1em;
        &:link,
        &:active {
          background:none;
        }
        &:hover {
          background: $EYA-pink;
          color:$EYA-white;
          text-decoration:none;
          @include border-radius();
        }
      }
      li{
        @include transition();
      }
      .active {
        background: $EYA-pink;
        color:$EYA-white;
        text-decoration:none;
        @include border-radius();
      }
    }
  }
}
.container {
  width:$EYA-desktop-width;
  position:relative;
  margin:0 auto;
  overflow:hidden;
  @media (max-width:$EYA-custom-width){
    width:100%;
    margin:0;
    padding:0;
  }
}

#banner{
    background-image:url('../images/banner.jpg');
    background-size:cover;
    height:414px;
    text-align:center;
    color:$EYA-white;
    .buttonShowAll{
      width: 100px;
      text-align: center;
      clear: both;
      float: none;
      display: block;
      background: $EYA-blue;
      padding: 5px;
      color: $EYA-white !important;
      margin: 0 auto;
      border-radius: 20px;
      &:hover {
        background:$EYA-light-blue;
      }
    }
    .container {
      @media (max-width:$EYA-768px-width){
        width:100%;
        margin:0;
        padding:0;
      }
    }
    @media (max-width:$EYA-768px-width){
      height:auto;
      background-repeat:repeat-x;
      background-color:$EYA-purple;
    }
    .wrapper {
      width:700px;
      margin:0 auto;
      overflow:visible;
      @media (max-width:$EYA-768px-width){
        width:100%;
      }
      form {
        z-index:39;
        legend,
        select,
        fieldset{
          display:inline-block;
          @media (max-width:$EYA-736px-width){
            display:block;
            width:100%;
            margin:0 0 10px 0;
          }
        }
        legend {
          display: inline-block;
          width:auto;
          padding: 10px 15px;
          margin:0;
          font-size: 1em;
          line-height: 33px;
          float: left;
          height:50px;
          font-weight:bold;
          color: $EYA-white;
          border: 0;
          background:$EYA-green;
          @media (max-width:$EYA-736px-width){
            float:none;
            margin:0 0 10px 0;
            width:300px;
            display:block;
          }
        }
        button {
          background:$EYA-green;
          height:50px;
          color:$EYA-white;
          text-align:center;
          border:0;
          padding:5px 40px;
          @include border-radius(7px);
          @include transition();
          &:hover{
            background:$EYA-light-green;
          }
          @media (max-width:$EYA-736px-width){
            float:none;
            width:300px;
          }
        }
      }
      h1 {
        font-size:4.375em;
        font-weight:bold;
        @media (max-width:$EYA-600px-width){
          font-size:2em;
        }
      }
      a {
        color:$EYA-pink;
        text-decoration:none;
        &:hover{
          color:$EYA-purple;
          text-decoration:none;
        }
      }
      strong{
        margin:70px 45px 0 0;
        display:block;
        width:100%;
        text-align:right;
        float:right;
        font-size:1.125em;
        font-weight:bold;
      }
      p{
        padding:0 20px;
        margin:0 0 32px;
      }
      .select2,
      .chosen-select{
        width:200px;
        @media (max-width:$EYA-600px-width){
          width:300px !important;
        }
      }
      .select2-container {
        .select2-selection--single{
          height:50px;
        }
      }
      .select2-container--default {
        .select2-selection--single {
          border-radius: 2px 7px 7px 2px;
          .select2-selection__rendered {
            line-height:50px;
            color:$EYA-dark-grey;
            font-weight:bold;
            text-align:left;
            font-size:1.125em;
          }
          .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 13px;
            right: 11px;
            width: 27px;
            background: $EYA-off-white;
          }
        }
      }
    }
}

#events {
  #loadMore {
    cursor:pointer;
      width: 100px;
      text-align: center;
      clear: both;
      float: none;
      display: block;
      background: $EYA-blue;
      padding: 5px;
      color: $EYA-white !important;
      margin: 0 auto;
      border-radius: 20px;
      &:hover {
        background:$EYA-light-blue;
      }
  }
  #showLess {
    cursor:pointer;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    clear: both;
    float: none;
    display: block;
    &:hover {
      color:$EYA-light-blue;
    }
  }
  .load_more {
    display:none;
  }
  .col-md-3 {
    margin:0 0 20px 0;
  }
  .row {
    @media (max-width: $EYA-988px-width){
      margin-right:0;
    }
  }
  font-family: $EYA-OpenSans;
  h2 {
    width:100%;
    text-align:center;
    font-size:2.250em;
    margin:50px 0 10px 0;
    font-weight:600;
  }
  hr {
    width: 80px;
    margin:0 auto;
    height:2px;
    border-color: #cecece;
    padding:0 0 20px 0;
  }
  h3 {
    padding:0;
    margin:0 0 10px 0;
    font-size:1.125em;
    display: inline-block;
    z-index:33;
    position:relative;
    width:85%;
    min-height:41px;
    line-height:20px;
    @media (max-width: $EYA-1024px-width) {
      display: block;
    }
  }
  a{
    text-decoration:none;
    &:hover{
      text-decoration:none;
    }
  }
  p{
    line-height:14px;
  }
  .thumbnail{
    height:100%;
    padding:0;
    background-image:$EYA-colours-stripe;
    background-position: bottom;
    background-repeat:repeat-x;
    background-size: 100% 3%;
    @media (max-width:767px){
      height:auto !important;
    }
    img {
      height: 125px;
      width: 100%;
      border-bottom: 1px solid #d3d3d3;
      @media (max-width:767px){
        height:auto;
      }
    }
    @include transition();
    .wp-post-image{
      height:125px;
      width:100%;
      border-bottom:1px solid lightgrey;
      @media (max-width:767px){
        height:auto;
      }
    }
    &:hover{
      background-size: 100% 5%;
      text-decoration:none;
    }
  }
  .featured {
    float:right;
    position:absolute;
    z-index:200;
    top:89px;
    right:16px;
    background:$EYA-purple;
    border-radius:9px 0 0 0;
    font-size: 0.875em;
    text-transform: uppercase;
    padding:10px;
    color:$EYA-white;
    display:block;
    @media (max-width:$EYA-1024px-width){
      top:89px;
    }
    @media (min-width:769px) and (max-width:$EYA-800px-width){
      top:90px;
    }
    @media (min-width:737px) and (max-width:$EYA-768px-width){
      top:89px;
    }
    @media (min-width:668px) and (max-width:$EYA-736px-width){
      top:278px;
    }
    @media (min-width:641px) and (max-width:$EYA-667px-width){
      top:244px;
    }
    @media (min-width:601px) and (max-width:$EYA-640px-width){
      top:230px;
    }
    @media (min-width:569px) and (max-width:$EYA-600px-width){
      top:210px;
    }
    @media (min-width:481px) and (max-width:$EYA-568px-width){
      top:197px;
    }
    @media (max-width:$EYA-533px-width){
      top:179px;
    }
    @media (min-width:415px) and (max-width:$EYA-480px-width){
      top:154px;
    }
    @media (min-width:378px) and (max-width:$EYA-414px-width){
      top:123px;
    }
    @media (min-width:261px) and (max-width:$EYA-375px-width){
      top:104px;
    }
    @media (min-width:321px) and (max-width:$EYA-360px-width){
      top:97px;
    }
    @media (min-width:260px) and (max-width:$EYA-320px-width){
      top:77px;
    }
  }
  .price {
    float:right;
    display:block;
    background:$EYA-pink;
    padding:10px;
    position:relative;
    z-index:10;
    color:$EYA-white;
    font-size:0.750em;
    text-transform: uppercase;
  }
}
#latest-news{
  .col-md-6 {
    margin:0 0 20px 0;
    @media (max-width:$EYA-988px-width){
      width:100%;
    }
  }
  .col-xs-6 {
    @media (max-width:766px){
      width:100%;
    }
  }

  background-color:$EYA-light-grey;
  .facebook {
    width:100%;
    margin:20px 0 0 0;
    height:262px;
    @media (max-width:$EYA-736px-width){
      height:auto;
    }
  }
  .timeline {
    max-width:100%;
  }
  a {
    &:hover {
      text-decoration:none;
    }
  }
  .twitter {
    width:100%;
  }
  h3 {
    color:$EYA-pink;
  }
  h2 {
    width:100%;
    text-align:center;
    font-size:2.250em;
    margin:50px 0 10px 0;
    font-weight:500;
  }
  hr {
    width: 80px;
    margin:0 auto;
    height:2px;
    border-color: #cecece;
    padding:0 0 20px 0;
  }
  .thumbnail {
    background: $EYA-white;
    height:100%;
    .wp-post-image{
      height:166px;
      width:100%;
      border-bottom:1px solid grey;
      @media (max-width:767px){
        height:auto;

      }
    }
  }
  .caption{
    a {
      color:$EYA-black;
      &:hover {
        color: $EYA-purple;
      }
    }
  }
}
#about {
  background:$EYA-pink-pattern;
  .aboutImg {
    float:right;
    margin-top:-40px;
    @media (max-width:$EYA-800px-width){
      margin:0;
      float:none;
    }

  }
  p{
    color:$EYA-white;
    font-size:1.425em;
  }
  h2 {
    width:100%;
    text-align:center;
    font-size:2.250em;
    margin:50px 0 10px 0;
    font-weight:500;
    color:$EYA-white;
  }
  hr {
    width: 80px;
    margin:0 auto;
    height:2px;
    border-color: #cecece;
    padding:0 0 20px 0;
  }
}
#latest-activity {
  color:$EYA-white;
  img {
    width:100%;
    height:280px;
  }
  ul {
    width:100%;
    vertical-align: middle;
    text-align:center;
    margin:40px 0 20px 0;
    li {
      display:inline-block;
      margin:0 10px 0 0;
      .fa {
        font-size:3.5em;
      }
    }
  }
  a{
    color:$EYA-black;
    &:active,
    &:link {
      color:$EYA-black;
    }
    &:hover{
      color: $EYA-purple;
    }
  }
  h2 {
    width:100%;
    text-align:center;
    font-size:2.250em;
    margin:50px 0 10px 0;
    font-weight:500;
    color:$EYA-black;
  }
  hr {
    width: 80px;
    margin:0 auto;
    height:2px;
    border-color: #cecece;
    padding:0 0 20px 0;
  }
  .youTube {
    float: right;
    position: absolute;
    z-index: 200;
    bottom:0;
    left: 0;
    background: $EYA-purple;
    font-size: 2em;
    text-transform: uppercase;
    padding: 10px 20px;
    color: $EYA-white;
    display: block;
  }
  .instagram {
    @extend .youTube;
    background: $EYA-green;
  }
}

footer {
  background-color:$EYA-light-grey;
  padding:40px 0;
  text-align:center;
  @media (max-width:$EYA-1024px-width){
    .col-xs-6 {
      width:100%;

    }
  }
  img {
    margin:0 0 20px 0;
  }
  ul {
    li{
      margin:0 10px 0 0;
      &:after{
        content:"|";
        position:relative;
        z-index:222;
        left: 7px;
      }
      a{
        color:$EYA-black;
        font-weight:600;
        &:hover{
          color:$EYA-pink;
        }
      }
    }
  }
  p{
    text-align:center;
    a {
      color:$EYA-purple;
      &:hover {
        color:$EYA-pink;
      }
    }
  }
  ul {
    vertical-align: middle;
    text-align:center;
    li{
      display: inline-block;
    }
  }
  .ara {
    float:right;
    display:inline-block;
    @media (max-width:$EYA-1024px-width){
      float:none;
    }
  }
}

#event {
  background:$EYA-purple $EYA-colours-stripe repeat-x top;
  height:auto;
  .wp-post-image {
    border-bottom:1px solid lightgrey;
  }
  .not-found {
    width:100%;
    margin:0 auto;
    color:$EYA-white;
    display:block;
    vertical-align:middle;
    h1 {
      font-size:15em;
      text-align:center;
    }
    p,
    h2{
      text-align:center;
      width:100%;
    }
  }
  @media  (max-width:$EYA-1024px-width){
    height:auto;
  }
  p{
    color:$EYA-white;
    margin:10px 0;
    display:block;
    float:left;
    font-size:1.2em;
  }
  h1 {
    color:$EYA-white;
    padding:10px 0;

  }
  img {
    width:100%;
    height:289px;
    @media (max-width:$EYA-988px-width){
      width:99%;
    }
    @media (max-width:$EYA-600px-width){
      width:100%;
      height:auto;
    }
  }
  iframe {
    float:right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    @media (max-width:$EYA-988px-width){
      margin:20px 0 0 0;
    }
  }
  ul {
    li{
      span{
        font-size:1.2em;
        margin:5px 0 0 0;
        display:block;
      }
      i{
        font-size:3.25em;
      }
      display:inline-block;
      float:left;
      background:$EYA-white;
      text-align:center;
      width:percentage(146px / 600px);
      min-height:120px;
      margin-right:4.5px;
      padding:10px 5px;
      vertical-align: middle;
      @media (max-width:$EYA-custom-width){
       width:percentage(145.5px / 600px);
       min-height:143px;
      }
      @media (max-width:$EYA-768px-width){
        width:percentage(145.5px / 600px);
      }
      @media (max-width:$EYA-519px-width){
        width:100%;
        display:block;
        min-height:100%;
        height:auto;
        border-bottom:1px solid $EYA-purple;
      }
      &:nth-child(4){
        margin:0;
        line-height:90px;
        font-size:2em;
        color: $EYA-white;
        background:$EYA-pink;
        @media (max-width:$EYA-custom-width){
          line-height:110px;
        }
      }
    }
  }
  .goBack {
    background:$EYA-pink;
    padding: 12px;
    line-height: 13px;
    height: 35px;
    width: 35px;
    text-align: center;
    display: inline-block;
    color: $EYA-white;
    float: right;
    @include transition();
    &:hover {
      text-decoration:none;
      background:$EYA-light-pink;
    }
  }
  .visitWebsite{
    display:block;
    float:left;
    padding: 15px 30px;
    color:$EYA-white;
    background:$EYA-green;
    @include transition();
    &:hover {
      text-decoration:none;
      background:$EYA-light-green;
    }
  }
  .st_sharethis_large{
    float:right;
    margin:20px 0 0 0;
    color:$EYA-white;
  }
}

.iframe-respo {
  position: relative;
  padding-bottom: 100%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  margin:0 0 20px 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  #map_canvas {
    @extend iframe;
  }
}

.hidden-but-accessible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  top: 0;
  left: 0
}
.blank {
  color:$EYA-white;
}

.select2-selection__arrow {
  @media (min-width:260px) and (max-width:$EYA-320px-width){
    right:28px !important;
  }
}
.fb-page {
  @media (max-width:$EYA-667px-width) {
    margin-left:14px;
  }
}
#twitter-widget-0 {
  @media (max-width:$EYA-768px-width) {
    width:94% !important;
    float:left;
    margin-bottom:20px !important;
  }

  @media (max-width:$EYA-667px-width) {
    margin-left:14px;
  }
}
